@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(User.Identity?.IsAuthenticated == true)
    {
		<h1 class="display-4">Welcome @ViewBag.UserName</h1>
    } else {
        <p>Seems like you are not sign in. Click below button to sign in</p>
		@Html.ActionLink("Click me", "SignIn");
	}
</div>
